<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LinkWord</title>
    <link rel="stylesheet" href="">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <link rel = "Shortcut Icon" href=/favicon.ico> 
    
  {% endblock %}
</head>


<body>

    <div id="content" style="text-align: center;">{% block content %}{% endblock %}</div>

 

    <!-- beautiful background -->
    <script type="text/javascript" color="{{color}}" opacity="{{opacity}}" count="{{count}}" src="/js/canvas-nest.min.js"></script>

    <!-- github ribbon -->

</body>
</html>


